<!doctype html>

<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Návody</title>
  <meta name="description" content="Stránka s návody">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/administrace/administrace.css') }}">
</head>
</head>

<body>

  <a href={{ url_for('show_home') }} class="zpet left">&#xab; Zpět na hlavní stránku</a>
    
  <div class="content">
    <h1>Administrace</h1>
    <div>
      <a class="new_password" href={{ url_for('show_new_password') }}>Změnit heslo</a>
      <a class="novy" href={{ url_for('show_new') }}>+<span>Přidat nový návod</span></a>
      <hr>
      <h3>Upravit návod</h3>
      <ol>
        {% for tutorial in tutorials %}
            <li>
                <a href = {{ url_for('show_edit', postID=tutorial[0]) }}>{{tutorial[1]}}</a>
            </li>
        {% endfor %}
      </ol>
    </div>
  </div>
    
</body>
</html>