<!doctype html>

<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Návody</title>
  <meta name="description" content="Stránka s návody">
  <script defer src="{{ url_for('static', filename='js/validateNewPassword.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/noveHeslo/noveHeslo.css') }}">
</head>
</head>

<body>

  <a href={{ url_for('show_administration') }} class="zpet left">&#xab; Zpět do administrace</a>

  <form id="password_form" class="content" method="POST" action="/new_password">
    <h1>Změna hesla</h1>
    <label for="password">Nové heslo:</label>
    <input type="password" name="password" id="password" required>
    <label for="password_again">Nové heslo znovu:</label>
    <input type="password" name="password_again" id="password_again">
    <p id="error" class="hidden">Hesla se neshodují</p>
    <div class="button" onclick="validatePasswords()">Změnit</div>
  </form>
  

</body>
</html>